body {
  font-family: "Open Sans", sans-serif;
}

/* Tachyons overwrites for brand colours */
/* Blue */
.blue {
  color: #000c9e;
}

.bg-blue {
  background-color: #000c9e;
}

/* .b--blue {
  border-color: #000c9e;
}

.hover-blue:hover {
  color: #000c9e;
}

.hover-blue:focus {
  color: #000c9e;
}

.hover-bg-blue:hover {
  background-color: #000c9e;
}

.hover-bg-blue:focus {
  background-color: #000c9e;
} */

/* Green */
.green {
  color: #08c39d;
}

.bg-green {
  background-color: #08c39d;
}

.b--green {
  border-color: #08c39d;
}

.hover-green:hover {
  color: #08c39d;
}

.hover-green:focus {
  color: #08c39d;
}

.hover-bg-green:hover {
  background-color: #08c39d;
}

.hover-bg-green:focus {
  background-color: #08c39d;
}

/* Light Blue */
.light-blue {
  color: #2fa1d4;
}
.bg-light-blue {
  background-color: #2fa1d4;
}
.b--light-blue {
  border-color: #2fa1d4;
}
.hover-light-blue:hover {
  color: #2fa1d4;
}
.hover-light-blue:focus {
  color: #2fa1d4;
}
.hover-bg-light-blue:hover {
  background-color: #2fa1d4;
}
.hover-bg-light-blue:focus {
  background-color: #2fa1d4;
}

/* Pink */
.pink {
  color: #eb2c88;
}
.bg-pink {
  background-color: #eb2c88;
}
.b--pink {
  border-color: #eb2c88;
}
.hover-pink:hover {
  color: #eb2c88;
}
.hover-pink:focus {
  color: #eb2c88;
}
.hover-bg-pink:hover {
  background-color: #eb2c88;
}
.hover-bg-pink:focus {
  background-color: #eb2c88;
}

/* Purple */
.purple {
  color: #4e57ca;
}
.bg-purple {
  background-color: #4e57ca;
}
.b--purple {
  border-color: #4e57ca;
}
.hover-purple:hover {
  color: #4e57ca;
}
.hover-purple:focus {
  color: #4e57ca;
}
.hover-bg-purple:hover {
  background-color: #4e57ca;
}
.hover-bg-purple:focus {
  background-color: #4e57ca;
}

/* Fonts */
.open-sans {
  font-family: "Open Sans", sans-serif;
}
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

/* Addition to Widths Scales */
.w-logo {
  width: 14rem;
}
.w6 {
  width: 32rem;
}
.w7 {
  width: 48rem;
}
.w8 {
  width: 64rem;
}
.w9 {
  width: 96rem;
}

/* Tachyons augments */
.lh-2 {
  line-height: 2;
}

/* Text align */
.tj {
  text-align: justify;
}
/* Override for visability */
.link:visited {
  color: #08c39d;
}

/* ns enhancers */
@media screen and (min-width: 30em) {
  .w6-ns {
    width: 32rem;
  }
  .w7-ns {
    width: 48rem;
  }
  .w8-ns {
    width: 64rem;
  }
  .w9-ns {
    width: 96rem;
  }
  .tj-ns {
    text-align: justify;
  }
  .w-logo-ns {
    width: 14rem;
  }
}

/* m enhancers */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .w6-m {
    width: 32rem;
  }
  .w7-m {
    width: 48rem;
  }
  .w8-m {
    width: 64rem;
  }
  .w9-m {
    width: 96rem;
  }
  .tj-m {
    text-align: justify;
  }
  .w-logo-m {
    width: 14rem;
  }
}

/* l enhancers */
@media screen and (min-width: 60em) {
  .w6-l {
    width: 32rem;
  }
  .w7-l {
    width: 48rem;
  }
  .w8-l {
    width: 64rem;
  }
  .w9-l {
    width: 96rem;
  }
  .tj-l {
    text-align: justify;
  }
  .w-logo-l {
    width: 14rem;
  }
}

@media only screen and (max-device-width: 620px) and (-webkit-min-device-pixel-ratio: 2) {
  .cover-header {
    background-image: none !important;
  }
}
